main.login {
	align-items: center;
	
	& img {
		max-width: 80%;
	}
	
	& button {
		background-color: rgb(255, 75, 157);
		color: white;
		font-size: 1rem;
		padding: var(--spacing-s);
		border: none;
		min-width: 10rem;
	}
}

main {
	box-sizing: border-box;
	padding: var(--spacing-s);
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

img.logo {
	height: 2.5rem;
	width: auto;
}

nav.navbar {
	width: 100%;
	box-sizing: border-box;
	padding: var(--spacing-s);
	align-items: center;
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
	background-color: rgb(242, 242, 242);

	& div {
		display: flex;
		align-items: center;
		gap: var(--spacing-s);
	}

	& span.event-name {
		font-size: .9rem;
	}

	& button {
		background-color: unset;
		border: none;
	}
}

div.inputgroup {
	width: 100%;
	margin: 1rem 0 1rem 0;
	display: flex;
	gap: .25rem;

	& input {
		flex: 1;
		padding: 1rem 1rem;
		border: .1rem solid black;
	}
	
	& input:focus {
		outline-color: #f773b0;
		border-radius: 0;
	}

	& button {
		aspect-ratio: 1/1;
		height: 50px;
		width: 50px;
		align-items: center;
		justify-content: center;
		border: none;
		padding: .5rem;
		background-color: #ffaad2;
		border-bottom: .2rem solid #f773b0;
		border-right: .15rem solid #f773b0;

		& img {
			height: 100%;
			width: 100%;
		}
	}
}

section.personalia {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-m);

	& div {
		display: flex;
		gap: var(--spacing-xs);
		padding: 0 var(--spacing-xs) 0 var(--spacing-xs);

		& div {
			display: flex;
			flex-direction: column;

			& span {
				font-size: 1rem;
			}
		}
	}
}

div.ticket {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	
	& div.left {
		height: 10em;
		width: 14em;
		box-sizing: content-box;
	}
	
	& div.right {
		height: 10em;
		width: 5em;
		position: relative;

		&.checked-in {
			transform: translateY(1em) rotate(15deg) translateY(-1em) translateX(2em);
		}
	}
	
	& div.inner {
		width: 100%;
		height: 100%;
		border: 1.5px solid gray;
		border-radius: .5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		
		box-shadow: .2em .2em lightgray;
	}
	
	& div.innerleft {
		border-right: 1.5px dashed gray;
		& span {
			padding: 0 1rem 0 1rem;
		}
	}

	& div.innerright {
		border-left: 1px dashed gray;
		align-items: center;
	}

	& span.eventname {
		font-size: 1.2rem;
	}
}

div.qr-container {
	max-height: 100%;
}

section.completionbar {
	margin-top: var(--spacing-m);

	& progress {
		width: 100%;
		height: var(--spacing-m);
		height: 2rem;
		border-radius: 0;
	}
}
